.filter-sidebar {
  background-color: var(--card-color-pirm);
  padding: 20px;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.filter-sidebar:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 769px) {
  .filter-sidebar {
    width: 250px;
    margin-right: 20px;
    position: sticky;
    top: 20px;
    height: fit-content;
  }
}

@media (max-width: 768px) {
  .filter-sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}

.filter-top {
  display: flex;
}

.filter-top h2 {
  font-size: 24px;
  margin-right: 20px; /* Mayor separación del título */
  color: #2b2d42;
  text-align: center;
  font-weight: bold;
}

.filter-top button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--card-color-sec);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.filter-select {
  width: 100%;
  padding: 12px; /* Mayor padding para más comodidad */
  border-radius: 8px; /* Bordes más redondeados */
  border: 1px solid #2b2d42;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.filter-select option {
  padding: 12px; /* Mayor padding para más comodidad */
}

@media (min-width: 769px) {
  .filter-sidebar h2 {
    text-align: left;
  }
}