
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #f8f7ff; /* letra de todos*/
  background: #427aa1; /*fondo de todos*/
}


a {
  color: inherit;
  text-decoration: none;
}

@media (pointer: coarse) {
  html {
    color-scheme: white;
  }
}

.footer{
    background-color: #427aa1;
    text-align: center;
    bottom: 0;
    width: 100%;
}
