:root{
    --bg-color-prim: #fbfbf2;
    --bg-color-sec: #f7f7f7;
    --text-color-prim: #333333;
    --text-color-secc: #666666;
    --card-color-pirm: #f7f7f7;
    --card-color-sec: #f7f7f7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
    margin: 0;
}

body {
  color: var(--text-color-prim);
  background: var(--bg-color-prim)
}


a {
  color: inherit;
  text-decoration: none;
}

@media (pointer: coarse) {
  html {
    color-scheme: white;
  }
}

.nav-bar {
    color: #007bff;
    background: var(--bg-color-sec);
    text-align: center;
    font-size: 27px;
    display:flex;
    justify-content: space-between;
    padding: 10px;
}