.pageLayoutStyle {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.productLayoutStyle {
  flex: 1;
}

@media (min-width: 769px) {
  .pageLayoutStyle {
    flex-direction: row;
    align-items: flex-start;
  }

  .productLayoutStyle {
    margin-left: 20px;
  }
}

.aboutButton {
  padding: 10px 20px;
  background-color: #0070f3;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
  padding-bottom: 20px;
}