.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 240px;
  margin: 16px;
  transition: transform 0.2s ease-in-out;
  background-color: var(--card-color-pirm);
}
@media (max-width: 760px) {
  .product-card {
    width: 130px;
    height: 250px;
  }
  .product-card-name {
    font-size: 1rem;

  }
  .product-card-description {
    visibility: hidden;
  }
  .product-card-category {
    visibility: hidden;
  }

  .product-card-price {
    visibility: hidden;
  }
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card-content {
  padding: 16px;
}

.product-card-description {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.product-card-name {
  font-size: 1.2rem;
  margin: 0;
}

.product-card-category {
  font-size: 0.9rem;
  margin-bottom: 12px;
  font-style: italic;
}

.product-card-price {
  font-size: 1.25rem;
  font-weight: bold;
}