.about-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
}
@media (max-width: 700px) {
  .about-container {
    height: 100%;
  }
}

.about-map,
.about-text {
  flex: 1;
  padding: 20px;
}

.about-map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.about-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.about-text p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-map,
  .about-text {
    height: 50vh; /* Mitad de la altura de la pantalla */
    width: 100%;
  }

  .about-text h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .about-text p {
    text-align: justify;
  }
}